<h1 class="p-xl pb-0 text-3xl text-center">Reservation Details</h1>

<table class="w-full mb-xl">
	<tr>
		<th></th>
	</tr>
</table>

<!-- section title -->
<template id="reservation-row-title-template">
	<tr>
		<td colspan="2" class="border-bottom p-m pl-xl">
			<h2 class="row-title pt-xl text-xl font-thick"></h2>
		</td>
	</tr>
</template>

<!-- section data -->
<template id="reservation-row-template">
	<tr>
		<td class="font-bold p-m pl-xl"><h2><!-- section key --></h2></td>
		<td class="p-m"><h2><!-- section value --></h2></td>
	</tr>
</template>


